.header {
    display: flex;
    gap: 20px;
}

.header a{
    text-decoration: none;
    font-size: 25px;
}

.header a:hover{
    text-decoration: underline;
    color: blue;
}

.header a[class='active'] {
    background: aqua;
}